<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="spatialiris.ZPM">
    <Module>
      <Name>spatialiris</Name>
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="spatialiris.PKG"/>
    </Module>
  </Document>
</Export>